SERVER=dev
VERSION=0.0.0

JWT_SECRET_KEY=pQ5zNq0m/louk5zVa8+Rj9RTnnrx8YenjVMCnxd8tm4=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=10

POSTGRES_USER=root
POSTGRES_PASSWORD=341e7e6beb55e07897dfdffcaa4c89a1183f37263c7895a725572e40e8eafe35
POSTGRES_DB=eventcore_db
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

SERVER_HOST=0.0.0.0
SERVER_PORT=8000
SERVER_DOMAIN=

CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://

LIBRE_URL=http://libretranslate:5000/translate

ROOT_DIR=/usr/src/app
STATIC_CONTENT_DIR=/usr/src/static_content
